:root {
  --dark: #2a3048;
  --primary: #3446e6;
  --white: #ffffff;
  --light: #e5e7f0;
  --warning: #ff7e5d;
  --default: #2a3048;
  --danger: #ff2740;
  --success: #00b181;
  --contentBg: #e5e5e5;
  --footerBg: #0f111a;
  --white20: #ffffffcc;
}
html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
